.DS_Store

__pycache__
.pytest_cache
*.pyc

monkeyreports/
pytests/outputs/
apitest/outputs/

mlcode/tf/epic_num_reader.model

pyapps/app_google_sheets/credentials.json
pyapps/app_google_sheets/token.pickle
